Python
pycache/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.env
.vscode/

Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints
*.bak

Data
*.csv
*.xlsx
*.json
*.html
/datasets/
submission.csv

Logs
*.log

Misc
.DS_Store